In [1]:
import pandas as pd
import numpy as np

In [14]:
user_data = pd.read_csv('user_gameplay_data.csv')
user_data = user_data.query('playtime > 0')
user_data = user_data.drop(['name'], axis = 1)

In [18]:
user_data.describe()

           playtime      Game_ids      Steam_id
count  8.499900e+04  8.499900e+04  8.499900e+04
mean   1.710700e+03  3.318403e+05  7.656120e+16
std    1.650410e+04  1.872722e+05  1.288175e+08
min    1.000000e+00  1.000000e+01  7.656120e+16
25%    7.500000e+01  2.331300e+05  7.656120e+16
50%    1.870000e+02  3.223300e+05  7.656120e+16
75%    3.305000e+02  4.394400e+05  7.656120e+16
max    1.744343e+06  1.162520e+06  7.656120e+16

In [16]:
user_data.pivot(index = 'Steam_id', columns = 'Game_ids')

                  playtime                                                  \
Game_ids           10      20      30      40      50      60      70
Steam_id
76561197960771844    117.0     NaN     NaN     NaN     1.0     1.0    13.0
76561197961553883      NaN     NaN     NaN     NaN     2.0     NaN     3.0
76561197961921592  10012.0  4647.0  4400.0  3861.0  4913.0  1476.0  6644.0
76561197962191359    282.0     NaN  1191.0     NaN     NaN     NaN    83.0
76561197963117782      NaN     NaN     NaN     NaN     NaN     NaN    89.0
...                    ...     ...     ...     ...     ...     ...     ...
76561198956409220     25.0     NaN     NaN     NaN     NaN     NaN     NaN
76561198964096366      NaN     NaN     NaN     NaN     NaN     NaN     NaN
76561198964845678      NaN     NaN     NaN     NaN     NaN     NaN     NaN
76561198967321081      NaN     NaN     NaN     NaN     NaN     NaN     NaN
76561198967758806      NaN     NaN     NaN     NaN     NaN     NaN     NaN

                                           ...                          \
Game_ids          80      92      100      ... 1104640 1106850 1116340
Steam_id                                   ...
76561197960771844     NaN     NaN     NaN  ...     NaN     NaN     NaN
76561197961553883     NaN     NaN     NaN  ...     NaN     NaN     NaN
76561197961921592     NaN     NaN     NaN  ...     NaN     NaN     NaN
76561197962191359     NaN     NaN     NaN  ...     NaN     NaN     NaN
76561197963117782     NaN     NaN     NaN  ...     NaN     NaN     NaN
...                   ...     ...     ...  ...     ...     ...     ...
76561198956409220     NaN     NaN     NaN  ...     NaN     NaN     NaN
76561198964096366     NaN     NaN     NaN  ...     NaN     NaN     NaN
76561198964845678     NaN     NaN     NaN  ...     NaN     NaN     NaN
76561198967321081     NaN     NaN     NaN  ...     NaN     NaN     NaN
76561198967758806     NaN     NaN     NaN  ...     NaN     NaN     NaN


Game_ids          1117630 1118200 1127400 1128000 1145660 1148150 1162520
Steam_id
76561197960771844     NaN     NaN     NaN     NaN     NaN     NaN     NaN
76561197961553883     NaN     NaN     NaN     NaN     NaN     NaN     NaN
76561197961921592     NaN     NaN     NaN     NaN     NaN     NaN     NaN
76561197962191359     NaN     NaN     NaN     NaN     NaN     NaN     NaN
76561197963117782     NaN     NaN     NaN     NaN     NaN     NaN     NaN
...                   ...     ...     ...     ...     ...     ...     ...
76561198956409220     NaN     NaN     NaN     NaN     NaN     NaN     NaN
76561198964096366     NaN     NaN     NaN     NaN     NaN     NaN     NaN
76561198964845678     NaN     NaN     NaN     NaN     NaN     NaN     NaN
76561198967321081     NaN     NaN     NaN     NaN     NaN     NaN     NaN
76561198967758806     NaN     NaN     NaN     NaN     NaN     NaN     NaN

[362 rows x 12904 columns]