In [138]:
import pandas as pd
import numpy as np
from sklearn import neighbors
KNN = neighbors.KNeighborsClassifier(metric='euclidean', n_neighbors=1)
from sklearn.model_selection import train_test_split
#Steam ID will be label
#Playhours will be data

In [139]:
x = []
for i in range(417):
    x.append(i)

In [166]:
user_data = pd.read_csv('user_gameplay_data.csv')
user_data

,name,playtime,Game_ids,Steam_id
0,Garry's Mod,218,4000,76561198164821779
1,APB Reloaded,1101,113400,76561198164821779
2,Warframe,431,230410,76561198164821779
3,Tom Clancy's Ghost Recon Phantoms - EU,89,272350,76561198164821779
4,Gear Up,31,214420,76561198164821779
...,...,...,...,...
213877,Kabounce,0,431930,76561198078907931
213878,Age of Wonders III,0,226840,76561198078907931
213879,Hot Lava,1218,382560,76561198078907931
213880,Team Fortress 2,925,440,76561198078907931
213881,Dota 2,169551,570,76561198078907931

In [169]:
user_data = pd.read_csv('user_gameplay_data.csv')
user_data = user_data.drop(['name'], axis = 1)
user_data = user_data.pivot(index = 'Steam_id', columns = 'Game_ids', values = 'playtime')
user_data = user_data.fillna(0)

In [170]:
user_data.to_csv('ml_cleaned_user_data.csv', index = True)

In [172]:
user_data2 = pd.read_csv('ml_cleaned_user_data.csv')
user_data2

,Steam_id,10,20,30,40,50,60,70,80,92,...,1128000,1129250,1137700,1145660,1148150,1151630,1153990,1162520,1170820,1175160
0,76561197960771844,117.0,0.0,0.0,0.0,1.0,1.0,13.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,76561197961553883,0.0,0.0,0.0,0.0,2.0,0.0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,76561197961921592,10012.0,4647.0,4400.0,3861.0,4913.0,1476.0,6644.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,76561197962191359,282.0,0.0,1191.0,0.0,0.0,0.0,83.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,76561197963117782,0.0,0.0,0.0,0.0,0.0,0.0,89.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
412,76561198956409220,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
413,76561198964096366,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
414,76561198964845678,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
415,76561198967321081,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
416,76561198967758806,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [182]:
ml_label = user_data2['Steam_id']
ml_data = user_data2.drop(['Steam_id'],axis=1).values
one_user = ml_data[0]
ml_data1 = ml_data[1:417]

In [183]:
nn = neighbors.KNeighborsClassifier(n_neighbors=1, metric='euclidean')
nn.fit(ml_data1, ml_label[1:417])
nn.kneighbors([one_user])

(array([[262822.87891468]]), array([[134]], dtype=int64))

In [190]:
ml_label[134]

76561198085191947

In [198]:
test = user_data2.query('Steam_id == 76561198085191947')
test1 = user_data2.query('Steam_id == 76561197960771844')
final_test = test.append(test1)
final_test = final_test.melt(id_vars=['Steam_id'])

In [185]:
ml_label[0]

76561197960771844

Find a way to calculate the difference in play time for each user