In [6]:
import pandas as pd
import numpy as np
from sklearn import neighbors
KNN = neighbors.KNeighborsClassifier(metric='euclidean', n_neighbors=1)
from sklearn.model_selection import train_test_split
#Steam ID will be label
#Playhours will be data

In [7]:
x = []
for i in range(417):
    x.append(i)

In [8]:
user_data = pd.read_csv('user_gameplay_data.csv')

In [ ]:
user_data = pd.read_csv('user_gameplay_data.csv')
user_data = user_data.drop(['name'], axis = 1)
user_data = user_data.pivot(index = 'Steam_id', columns = 'Game_ids', values = 'playtime')
user_data = user_data.fillna(0)
user_data

In [11]:
user_data.to_csv('ml_cleaned_user_data.csv', index = True)

In [ ]:
user_data2 = pd.read_csv('ml_cleaned_user_data.csv')
user_data2

In [7]:
ml_label = user_data2['Steam_id']
ml_data = user_data2.drop(['Steam_id'],axis=1).values

one_user = ml_data[0]
ml_data1 = ml_data[1:417]

In [8]:
nn = neighbors.KNeighborsClassifier(n_neighbors=1, metric='euclidean')
nn.fit(ml_data1, ml_label[1:417])
nn.kneighbors([one_user]) #array [134] is the user that is most similar

(array([[262822.87891468]]), array([[134]], dtype=int64))

In [15]:
x =nn.predict([one_user])
x[0]

76561198085206459

In [11]:
ml_label[134]

76561198085191947

In [12]:
user_data2.query('Steam_id == 76561198085206459')

,Steam_id,10,20,30,40,50,60,70,80,92,...,1128000,1129250,1137700,1145660,1148150,1151630,1153990,1162520,1170820,1175160
135,76561198085206459,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [198]:
test = user_data2.query('Steam_id == 76561198085191947')
test1 = user_data2.query('Steam_id == 76561197960771844')
final_test = test.append(test1)
final_test = final_test.melt(id_vars=['Steam_id'])

In [185]:
ml_label[0]

76561197960771844

Find a way to calculate the difference in play time for each user